    @import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
    @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
     :root {
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #38DC95;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-gray-100: #f8f9fa;
        --bs-gray-200: #e9ecef;
        --bs-gray-300: #dee2e6;
        --bs-gray-400: #ced4da;
        --bs-gray-500: #adb5bd;
        --bs-gray-600: #6c757d;
        --bs-gray-700: #495057;
        --bs-gray-800: #343a40;
        --bs-gray-900: #212529;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
    }
    
    button.btn-info-mine {
        background-color: white;
        color: var(--bs-info);
    }
    
    button.btn-info-mine:hover {
        background-color: var(--bs-info);
        color: white;
    }
    
    .btn-info {
        color: white;
    }
    
    .my-button {
        margin-top: 2px;
    }
    
    .btn-success.custom-btn {
        background-color: var(--bs-green);
        border-color: var(--bs-green);
    }
    
    .btn-danger .custom-btn {
        background-color: var(--bs-red);
        border-color: var(--bs-red);
    }
    
    // ----------- Common style -------------
    .form-control {
        font-size: 14px;
    }
    
    .fullsize {
        padding-left: 0%;
        padding-right: 0%;
    }
    
    // .content {
    //     /* height: 100vh; */
    //     background: rgba(255, 255, 255, 0.2);
    //     margin: 30px;
    //     width: 50%;
    //     height: auto;
    //     box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.4) inset;
    //     border-radius: 15px 50px;
    //     font-size: 0.875em;
    // }
    .container {
        padding: 0%;
    }
    /*********** navbar *************/
    
    .container-navbar {
        margin-right: 5em;
        margin-left: 5em;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .nav li form {
        padding-left: 10px;
        /* adds spacing along left of dropdown menu form */
        padding-right: 10px;
    }
    
    .bg-mine-yellow {
        background-color: rgba(255, 255, 0, .65);
    }
    
    .bg-mine-blue {
        background-color: rgba(0, 85, 255, .65);
    }
    
    button.navbar-toggler.collapsed {
        color: #0055FF;
        border-color: #0055FF;
    }
    
    button.navbar-toggler:focus {
        color: #0055FF;
        border-color: #0055FF;
        background-color: rgba(0, 85, 255, 0.50);
    }
    
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 85, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    a#login-dropdown.navbar-dark .navbar-nav .nav-link:focus,
    a#login-dropdown.navbar-dark .navbar-nav .nav-link:hover {
        color: #0055FF;
    }
    
    a#login-dropdown.navbar-dark .navbar-nav .nav-link {
        color: #0055FF;
    }
    
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #0055FF;
    }
    /*********** navbar END *************/
    
    // ----------- Common style END -------------
    // ----------- Background video --------------
    video {
        object-fit: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    
    sd-signup {
        color: white;
        // z-index: auto;
    }
    
    // ----------- Background video END --------------
    /* -------------- Button ----------------- */
    
    div.button-video {
        display: flex;
        justify-content: center;
        align-items: center;
        /* min-height: 100vh; */
        flex-direction: column;
        gap: 60px;
    }
    
    div.button-video button {
        position: relative;
        background: #444;
        color: white;
        text-decoration: none;
        /* text-transform: uppercase; */
        letter-spacing: 0.04em;
        padding: 5px 28px;
        transition: 0.5s;
        // opacity: 0.85;
    }
    
    div.button-video button.signup-button {
        background: rgba(61, 255, 207, 0.6);
    }
    
    div.button-video button:hover {
        letter-spacing: 0.25em;
        background: var(--clr);
        color: var(--clr);
        /* interesting effect */
        box-shadow: 0 0 35px var(--clr);
    }
    
    div.button-video button::before {
        content: '';
        position: absolute;
        inset: 2px;
        background: #27282c;
    }
    
    div.button-video button span {
        position: relative;
        z-index: 1;
        font-size: 1em;
    }
    
    div.button-video button i {
        position: absolute;
        inset: 0;
        display: block;
    }
    
    div.button-video button i::before {
        content: '';
        position: absolute;
        top: -3.5px;
        left: 80%;
        width: 10px;
        height: 5px;
        border: 2px solid var(--clr);
        background: #27282c;
        transform: translateX(-50%);
        transition: 0.5s;
    }
    
    div.button-video button:hover i::before {
        width: 20px;
        left: 20%;
    }
    
    div.button-video button i::after {
        content: '';
        position: absolute;
        bottom: -3.5px;
        left: 20%;
        width: 10px;
        height: 5px;
        border: 2px solid var(--clr);
        background: #27282c;
        transform: translateX(-50%);
        transition: 0.5s;
    }
    
    div.button-video button:hover i::after {
        width: 20px;
        left: 80%;
    }
    
    button.btn-mine {
        width: 80%;
        /* height: 35px; */
    }
    
    button.btn-mine:hover {
        width: 100%;
        /* height: 45px; */
        font-size: 1em;
    }
    
    button.btn-mine:focus {
        background-color: var(--clr);
    }
    /* -------------- END Button ----------------- */