<!-- <div class="image-area">
    <div class="image-items" ng-repeat="image in $ctrl.images" ng-show="$ctrl.isCurrentIndex($index)">

        <span class="id image_id">{{$ctrl.imageId(image)}}</span>
        <img class="img-thumbnail rounded responsive" ng-src="{{$ctrl.imageUrl(image)}}">

        <span class="caption">{{$ctrl.imageCaption(image)}}</span>

        <span class="image-browse" ui-sref="images({id:$ctrl.imageId(image)})">
        <span class=""><i class="bi bi-share"></i></span>
        </span>

    </div>

    <span class="" ng-click="$ctrl.previousImage()"><i class="bi bi-chevron-double-left"></i></span>

    <span class="" ng-click="$ctrl.nextImage()"><i class="bi bi-chevron-double-right"></i></span>
</div> -->

<div id="carouselExampleCaptions" class="carousel slide image-area" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" ng-repeat="image in $ctrl.images" ng-show="$ctrl.isCurrentIndex($index)">
        <div class="carousel-item">
            <span class="id image_id">{{$ctrl.imageId(image)}}</span>
            <img class="d-block w-100" ng-src="{{$ctrl.imageUrl(image)}}">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="caption">{{$ctrl.imageCaption(image)}}</h5>
                <span class="image-browse" ui-sref="images({id:$ctrl.imageId(image)})">
                <span class=""><i class="bi bi-share"></i></span>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>