<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-mine-blue p-4">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <h5 class="text-white">Navbar</h5>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                    </li>

                    <li class="nav-item dropdown btn-group dropend">
                        <a class="nav-link dropdown-toggle text-white btn btn-default" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Go To
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start bg-light" aria-labelledby="navbarDropdown" id="navDropDown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li ui-sref-active="active">
                                <a ui-sref="images({id:null})" class="dropdown-item">Images</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="things({id:null})" class="dropdown-item">Things</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="authn" class="dropdown-item authCheck fst-italic" style="color:#0055FF;">Authentication Check</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <span class="text-muted pe-3">Toggleable via the navbar brand.</span>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-info" type="submit">Submit</button>
            </form>
        </nav>
    </div>
</div>
<nav class="navbar navbar-dark bg-mine-yellow">
    <div class="container-navbar d-flex">
        <button id="navMine" class="navbar-toggler custom-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="btn-group dropstart">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-default" href="#" id="login-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="navbar-loginlabel" class="fw-bold fs-5" style="color:#0055FF">{{$ctrl.getLoginLabel()}}</span>
                    </a>
                    <ul class="dropdown-menu position-absolute bg-light" id='authnSession' aria-labelledby="dropdownMenuClickableOutside">
                        <li>
                            <sd-authn-session></sd-authn-session>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--container-fluid -->
    </div>

</nav>