<ul class="items things mt-2">
    <li ng-repeat="ti in $ctrl.things" ng-class="{selected: $ctrl.isCurrentThing($index)}" class="pb-1 pt-1">
        <a ng-click="$ctrl.thingClicked($index)">
            <img ng-src="{{ti.image_content_url}}?width=100" />
            <span class="id thing_id">{{ti.thing_id}}</span>
            <span class="name">{{ti.thing_name}}</span>
            <span class="id image_id">{{ti.image_id}}</span>
            <span class="distance font-monospace text-muted ps-4" ng-if="ti.distance">({{ti.distance | number:1 }} miles)</span>
        </a>
    </li>
</ul>