<div id="<%= dom_id state %>">
  <table class="table table-striped">
    <tr>
      <th> <strong> Name: </strong> </th> 
    </tr>
    <td><em class="font"><%= state.name %></em></td>
  </table>
</div>

