<!-- <div class="image-list" ng-show="$ctrl.authz.canQuery">
    <ul style="list-style-type: circle;">
        <li ng-repeat="item in $ctrl.items | orderBy:'caption'" class="m-2 pe-2">
            <a ui-sref="images({id:item.id})" class="text-decoration-none ps-2">
                <span class="image_id id">{{item.id}}</span>
                <img style="width: 50px; height: 33px" ng-src="{{item.content_url}}?width=50" /> {{item.caption}}

                <span ng-show="$ctrl.authz.canUpdateItem(item)"> *</span>
            </a>
        </li>
    </ul>
</div> -->

<div ng-show="$ctrl.authz.canQuery">
    <div style="grid-row-start: auto;">
        <div class="image-list card clearfix mb-3" style="max-width: 50%;" ng-repeat="item in $ctrl.items | orderBy:'caption'">
            <div class="row g-0">
                <a ui-sref="images({id:item.id})" class="text-decoration-none">
                    <div class="col-md-4 me-4 float-start">
                        <span class="image_id id">{{item.id}}</span>
                        <img class="img-fluid rounded" ng-src="{{item.content_url}}" style="max-width: 100%; max-height: 600px;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6 class="card-title">{{item.caption}}

                                <span ng-show="$ctrl.authz.canUpdateItem(item)"> *</span></h6>
                            <p class="card-text"><small class="text-muted">Adress</small></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>