<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <%= stylesheet_link_tag    'spa-demo', :media => "all" %>
    <%= javascript_include_tag 'spa-demo' %>
  </head>
  <body ng-app="spa-demo" class="bg-light">
      <div id="main-menubar" class="container-fluid fullsize">
        <sd-navbar></sd-navbar>
      </div>
      <div id="display-area" class="container-fluid">
        <div ui-view></div>  
      </div>

  </body>
</html>
