<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <h5>Navbar</h5>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="login-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="navbar-loginlabel">{{$ctrl.getLoginLabel()}}</span>
                        </a>
                        <ul class="dropdown-menu" id='authnSession' aria-labelledby="navbarDropdown">
                            <li>
                                <sd-authn-session></sd-authn-session>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </nav>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark opacity-75">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <!-- <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="login-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span id="navbar-loginlabel">{{$ctrl.getLoginLabel()}}</span>
                </a>
                <ul class="dropdown-menu" id='authnSession' aria-labelledby="navbarDropdown">
                    <li class="dropdown-item">
                        <sd-authn-session></sd-authn-session>
                    </li>
                </ul>
            </li>
        </ul> -->
        <!-- container-fluid -->
    </div>

</nav>