<ul class="items images mt-2">
    <li ng-repeat="ti in $ctrl.images" ng-class="{selected: $ctrl.isCurrentImage($index)}" class="pb-2">
        <a ng-click="$ctrl.imageClicked($index)">
            <img ng-src="{{ti.image_content_url}}?width=100" />
            <span class="id image_id">{{ti.image_id}}</span>
            <span class="caption">{{ti.image_caption}}</span>
            <span class="id thing_id" ng-if="ti.thing_id">{{ti.thing_id}}</span>
            <span class="thing_name" ng-if="ti.thing_id">({{ti.thing_name}})</span>
            <span class="distance font-monospace text-info ps-4" ng-if="ti.distance!=null">{{ti.distance | number:1}} miles</span>
        </a>
    </li>
</ul>